body {
  background-color: #ffc901;
  color: #d34c01;
}

button {
  margin-left: 50px;
  margin-bottom: 5px;
  margin-top: 5px;
  padding-left: 15px;
  padding-right: 15px;
  height: 40px;
  border: none;
  border-radius: 7px;
  background-color: #d34c01;
  color: #fef3df;
  font-size: 18px;
  cursor: pointer;
}